# {{ ansible_managed }}

server {
  # Redirect to main domain
  listen 80;
  server_name {{ site_domain }} {{ site_domains_redirected_compiled | join(' ') }} {{ site_domains_secondary | join(' ') }};
  return 301 https://{{ site_domain }}$request_uri;
}

server {
  listen 443 ssl http2;
  server_name {{ site_domain }} {{ site_domains_secondary | join(' ') }};
  root {{ site_root }};
  index index.php index.html;

  ssl_certificate {{ site_ssl_certificate | default('/etc/letsencrypt/live/'+site_domain+'/fullchain.pem') }};
  ssl_certificate_key {{ site_ssl_certificate_key | default('/etc/letsencrypt/live/'+site_domain+'/privkey.pem') }};
  add_header Strict-Transport-Security "max-age=15768000"; # HSTS

  location / {
    # site_nginx_location_static_files
    {{ site_nginx_location_static_files | indent(4) }}

    # site_nginx_location_php
    {{ site_nginx_location_php | indent(4) }}

    # site_nginx_custom_root_location
    {{ site_nginx_custom_root_location | default('') | indent(4) }}

    try_files $uri @rewrite;
  }

  # site_nginx_location_rewrite
  {{ site_nginx_location_rewrite | indent(2) }}

  # site_nginx_location_default
  {{ site_nginx_location_default | indent(2) }}

  # site_nginx_custom_server
  {{ site_nginx_custom_server | default('') | indent(2) }}
}

# site_nginx_custom_http
{{ site_nginx_custom_http }}
