# {{ ansible_managed }}

server{
  listen 80;
  server_name {{ site_solr_domain }};
  access_log off;
  location / {
    proxy_pass http://localhost:{{ site_solr_port }};
    {{ site_nginx_proxy_params | default('') | indent(4) }}
    auth_basic "Solr";
    auth_basic_user_file {{ site_homedir }}/etc/solr/htpasswd;
  }
}
