# {{ ansible_managed }}
<VirtualHost *>
    DocumentRoot {{ site_root }}
    ServerName {{ site_domain }}
    ServerAlias www.{{ site_domain }} {{ domain_test | default('') }}
    AssignUserID {{ uid }} {{ gid }}
</VirtualHost>
