# {{ ansible_managed }}
<VirtualHost *>
    DocumentRoot {{ site_root }}
    ServerName {{ site_domain }}
    ServerAlias www.{{ site_domain }} {{ domain_test | default('') }}
    AssignUserID {{ uid }} {{ gid }}
    MaxClientsVHost {{ apache_mpm_itk_max_clients_per_host }}
</VirtualHost>
