# {{ ansible_managed }}
<VirtualHost *>
	DocumentRoot {{ sitedir }}
	ServerName {{ domain }}
	ServerAlias www.{{ domain }} {{ domain_test | default('') }}
	AssignUserID {{ uid }} {{ gid }}
</VirtualHost>
