<?php
$databases['default']['default']['database'] = '{{ site_mysql_db }}';
$databases['default']['default']['username'] = '{{ site_mysql_user }}';
$databases['default']['default']['password'] = '{{ site_mysql_password }}';
$databases['default']['default']['host']     = '{{ site_mysql_host }}';
