<?php
$databases['default']['default'] = array(
  'database' => '{{ site_mysql_db }}',
  'username' => '{{ site_mysql_user }}',
  'password' => '{{ site_mysql_password }}',
  'host'     => '{{ site_mysql_host }}',
);
