location / {
  # site_nginx_location_static_files
  {{ site_nginx_location_static_files | indent(2) }}

  # site_nginx_location_default
  {{ site_nginx_location_default | indent(2) }}

  # site_nginx_location_php
  {{ site_nginx_location_php | indent(2) }}

  # site_nginx_custom_root_location
  {{ site_nginx_custom_root_location | default('') | indent(2) }}

  try_files $uri @rewrite;
}

# site_nginx_location_rewrite
{{ site_nginx_location_rewrite }}

