# Colors
autoload -U colors
colors
setopt prompt_subst

# history from oh-my-zsh
HISTFILE=$HOME/.zsh_history
setopt append_history
setopt extended_history
setopt hist_expire_dups_first
setopt hist_ignore_dups # ignore duplication command history list
setopt hist_ignore_space
setopt hist_verify
setopt inc_append_history
setopt share_history # share command history data
alias history='fc -il 1' # yyyy-mm-dd

PROMPT='%F{blue}%n%f@%F{blue}%m%f %F{yellow}%3~%f$ '
RPROMPT=''

bindkey '\e[1~' beginning-of-line # home
bindkey '\e[4~' end-of-line # end

autoload compinit
compinit
